<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style_ust.css}">
    <script th:src="@{/js/jquery-slim.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>

    <title>METHOD info</title>
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/ico">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color:#0060cc">
    <div class="container">
        <img th:src="@{img/logo_top.png}" alt="Logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupporedtContent" aria-controls="navbarSupporedtContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupporedtContent">
            <ul class="navbar-nav mr-auto" id="navNavbar" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="cont-tab" href="/" aria-controls="info"
                       aria-selected="true"><h5>расчет стоимости</h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="info-tab" href="/info" aria-controls="info"
                       aria-selected="true"><h5>справочная информация</h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="docs-tab" href="/documents" aria-controls="info"
                       aria-selected="true"><h5>документация</h5></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br>
<!--<div class="container text-justify" style="text-indent: 40px">-->
<div class="container text-justify">

    <h4><label style="color: royalblue"><b>
        Расчёт затрат на создание и развитие информационных систем государственных органов
    </b></label></h4>

    <br>

    <p style="text-align: justify">
        Настоящая Методика расчёта затрат на создание, развитие и сопровождение информационных систем
        государственных органов (далее - Методика) разработана в соответствии с пунктом 1 статьи 14 Закона Донецкой
        Народной Республики от 07.08.2015 г. № 71-IНС «Об информации и информационных технологиях» и пунктом 3 раздела I
        Положения Министерства связи Донецкой Народной Республики утверждённого Постановлением Совета Министров Донецкой
        Народной Республики от 10.01.2015 г. № 1-17 «Об утверждении Временного Положения и структуры Министерства связи
        Донецкой Народной Республики»
        <br><br>

        Расчёт затрат на создание ППО ИС осуществляется специалистами, имеющими высшее профильное образование по
        направлению «аналитик по проектированию и разработке ИС», и представлен следующими этапами: <br><br>

        Для того, чтобы корректно выполнить все необходимые расчеты затрат на создание ППО ИС, необходимо иметь
        техническое задание (ТЗ). <br><br>

        1) оценка функционального размера ППО ИС; <br>
        2) оценка базовой трудоёмкости создания ППО ИС; <br>
        3) определение значений поправочных коэффициентов трудоёмкости; <br>
        4) расчёт трудоёмкости создания ППО ИС; <br>
        5) оценка срока разработки ППО ИС; <br>
        6) корректировка трудоёмкости создания ППО ИС при уменьшении срока разработки ППО ИС; <br>
        7) оценка затрат на создание ППО ИС. <br><br>

        Базовая трудоёмкость каждого основного процесса разработки ППО ИС в человеко-месяцах. Базовая трудоёмкость
        каждого процесса определяется на основе нормативов трудоёмкости. <br><br>

        Значения поправочных коэффициентов трудоёмкости определяются исходя из характеристик создаваемой ИС и
        требований к её функционированию, качества и технических требований. <br><br>

        На основании поправочных коэффициентов трудоёмкости разработки ППО ИС проводится расчёт трудоёмкости
        создания ППО ИС с учётом поправочных коэффициентов.<br><br>

        Оценка срока разработки ППО ИС. На данном этапе оценивается средний срок разработки ППО ИС. <br><br>

        Корректировка трудоёмкости создания ППО ИС при уменьшении срока разработки ППО ИС. На данном этапе
        производится корректировка трудоёмкости разработки ППО ИС в случае уменьшения среднего срока разработки ППО ИС
        на основе коэффициента эластичности трудоёмкости. <br><br>

        Оценка затрат на создания ППО ИС. На данном этапе, на основании рассчитанной трудоёмкости создания ППО ИС
        определяются затраты на создание ППО ИС. <br><br>

        Оценка функционального размера ППО ИС производится на основе модели ИС и функциональных требований
        пользователей. Функциональный размер ИС задаётся набором из пяти элементов, каждый элемент которого измеряется в
        соответствующей функциональной единице измерения. Наименования и обозначения функциональных единиц измерения:
        <br>
        1) этап 1 - количество вариантов использования (С) определяется из диаграммы вариантов использования модели
        информационной системы; <br>
        2) этап 2 - количество типов объектов (E) оценивается подсчетом количества неодинаковых классов, изображенных на
        диаграммах классов; <br>
        3) этап 3 - количество свойств типов объектов (T) оценивается подсчетом количества свойств классов, изображенных
        на диаграммах классов; <br>
        4) этап 4 - количество взаимодействий между типами объектов (I) оценивается подсчетом количества связей
        (отношений) между классами на диаграмме коммуникаций; <br>
        5) этап 5 - количество типов узлов (N) оценивается подсчетом количества типов узлов на диаграмме развертывания.
        <br><br>

        Вариант использования – внешняя спецификация последовательности действий, которые система или другая
        сущность могут выполнять в процессе взаимодействия с акторами. <br><br>

        Тип объекта - объект предметной области, обладающий уникальными свойствами состояния и поведения в рамках
        разрабатываемой ИС. <br><br>

        Класс – абстрактный тип данных в объектно-ориентированном программировании, характеризующийся своими свойствами
        и методами и реализующий поведение типа объектов, в том числе, типа объектов предметной области. <br><br>

        Узел – аппаратное обеспечение, которое обладает вычислительным ресурсом и размещает полную или составную часть
        лицензионного и/или прикладного программного обеспечения ИС. <br><br>

        Оценка количества типов узлов определяется на основании диаграммы развертывания ИС. Количество типов узлов
        подсчитывается как общее число типов узлов на диаграмме развертывания. Если UML-диаграмма развертывания не
        построена, то количество типов узлов можно оценить по количеству типов ЭВМ и внешних устройств ЭВМ, используемых
        при функционировании ИС. Примерами ЭВМ и внешних устройств ЭВМ могут служить серверы, рабочие станции (в случае
        размещения составных частей ИС). <br><br>

        Функциональный размер ППО ИС определяется путём подсчёта значений функциональных единиц измерения для
        модели ИС. Входными документами для оценки функционального размера ППО ИС могут служить: <br>
        1) видение ИС; <br>
        2) концепция ИС; <br>
        3) техническое задание на разработку ИС. <br><br>

        Для обеспечения наибольшей точности оценки функционального размера рекомендуется использовать модель ИС,
        реализованной на языке моделирования UML. Для применения Расчёта сначала строят следующие диаграммы: <br>
        1) диаграмма вариантов использования (Use case diagram, диаграмма прецедентов); <br>
        2) диаграмма классов; <br>
        3) диаграмма коммуникаций; <br>
        4) диаграмма развёртывания. <br><br>

        После построения диаграмм расчёт выполняется следующим образом: <br>
        1) этап 1 - количество вариантов использования (С) определяется из диаграммы вариантов использования модели
        информационной системы; <br>
        2) этап 2 - количество типов объектов (E) оценивается подсчётом количества неодинаковых классов, изображённых на
        диаграммах классов; <br>
        3) этап 3 - количество свойств типов объектов (T) оценивается подсчётом количества свойств классов, изображённых
        на диаграммах классов; <br>
        4) этап 4 - количество взаимодействий между типами объектов (I) оценивается подсчётом количества связей
        (отношений) между классами на диаграмме коммуникаций; <br>
        5) этап 5 - количество типов узлов (N) оценивается подсчётом количества типов узлов на диаграмме развёртывания.
        <br><br>

        При разработке ИС на основе готового программного обеспечения, в расчёт не включаются, созданные в готовом
        программном обеспечении: <br>
        1) варианты использования; <br>
        2) типы объектов; <br>
        3) свойства типов объектов. <br><br>

    </p>

</div>


<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2017 Министерство связи ДНР
            <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
        </div>
    </div>
</footer>
</body>
</html>